body { 
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
    background:url('img/fundo.jpg') no-repeat center fixed;
}
input, button {
    padding: 10px; 
    font-size: 18px;
}
button{
    background-color: rgb(44, 139, 139);
    color: aliceblue;
}
button:hover{
    background-color: black;
}
#feedback{
    background-color: rgb(255, 255, 255);
    width: auto%;
    height: 20px;
}